.post-body {
    font-size: 1pc;
}

code.language-html span {
    font-size: 0.8pc;
}

.post-body img {
    width: 100%;
}
.fa-pen-nib:before {
    color: #eeeeee59!important;
}
footer.post-footer {
    font-size: 13px;
    line-height: 25px;
}
p.image-caption {
    display: none;
}
